# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Python build
build/
dist/
*.egg-info

# Large ML artifacts
models/
data/
notebooks/